<div class="sandbox-banner" *ngIf="isSandbox">
  <span class="banner-left">Demo Mode</span>
  <span class="banner-mid">Você está em um ambiente de demonstração</span>
  <span class="banner-left">Agradecemos o seu feedback!</span>
</div>

<div class="app-container">
  
  <app-sidebar
    class="sidebar-wrapper"
    [class.mobile-open]="isMobileMenuOpen"
    (click)="closeMenu()"
  >
  </app-sidebar>

  <div 
    class="overlay" 
    *ngIf="isMobileMenuOpen" 
    (click)="closeMenu()">
  </div>

  <div class="main-content">
    
    <app-topbar (toggleMenu)="toggleMenu()"></app-topbar>

    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>