version: '3.8'
services:
  db:
    image: postgres:13
    container_name: pim_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpassword
      POSTGRES_DB: pim_database
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: